<h1>Hi... <%= User.find_by(id: session[:user_id]).name %> </h1> 

<br><br><br>

<div>Chose from following options :</div><br>

<h3>
	<%= link_to "ALL Tweeters", users_path %>
</h3>

<h3>
	<%= link_to "My Tweets", tweets_path %>
</h3>

<h3>
	<%= link_to " My followers ", following_users_path %>
</h3>

<h3>
	<%= link_to " I am Following to ", follower_users_path %>
</h3>

<h3>
	<%= link_to "My Feed", myfeed_path %>
</h3>