<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erb</p>


<p id="notice"><%= notice %></p>
<h1>Login ...!</h1>

<%= form_with( local: true,url: sessions_path) do |form| %>

 <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

   <div class="actions">
    <%= form.submit %>
  </div>


<%end%>
