<!DOCTYPE html>
<html>
  <head>
    <title>Mytweeter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if session[:user_id] then %>
   Click to :  <%= link_to "logout",logout_path, method: :delete%> : Logged in as <%=User.find_by(id: session[:user_id]).name %> <%= link_to "Dasboard", dashboard_path %>
   <% end %>
    <%= yield %>
  </body>
</html>
